@font-face {
   font-family: Monarch; /* Гарнитура шрифта */
   src: url(12073.otf); /* Путь к файлу со шрифтом */
}
body {
   margin: 0px;
   padding: 0px;
}
#ddd {
   width: 374px;
   margin: auto;
}
#Dainera {
   font-family: 'Monarch', cursive;
   font-size: 100px;
   color: grey;
   transition: filter 3s;
   display: inline-block;
}
#Dainera:hover {
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
}
#one {
   transition: filter 1.7s;
}
#one:hover {
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
}
.three {
   width: 1060px;
   margin-left: auto;
   margin-right: auto;
}
.three * {
   display: inline;
   margin: 25px;
}